
.service-body{
   text-align: center;
   color: #275A53;
    
}

.img-position-size{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-img{
    height: 70px;
    width: 70px;
   
}


